controller_manager:
  ros__parameters:
    update_rate: 20 
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    imu_sensor_broadcaster:
      type: imu_sensor_broadcaster/IMUSensorBroadcaster

    mecanum_drive_controller:
      type: mecanum_drive_controller/MecanumDriveController

mecanum_drive_controller:
  ros__parameters:
    reference_timeout: 1.2
    front_left_wheel_command_joint_name: "fl_speed_pid/left_front_wheel_joint"
    front_right_wheel_command_joint_name: "fr_speed_pid/right_front_wheel_joint"
    rear_left_wheel_command_joint_name: "rl_speed_pid/left_rear_wheel_joint"
    rear_right_wheel_command_joint_name: "rr_speed_pid/right_rear_wheel_joint"

    front_left_wheel_state_joint_name: "left_front_wheel_joint"
    front_right_wheel_state_joint_name: "right_front_wheel_joint"
    rear_left_wheel_state_joint_name: "left_rear_wheel_joint"
    rear_right_wheel_state_joint_name: "right_rear_wheel_joint"

    kinematics:
      base_frame_offset: { x: 0.0, y: 0.0, theta: 0.0 }
      wheels_radius: 0.03
      # sum_of_robot_center_projection_on_X_Y_axis: 1.30  # 
      sum_of_robot_center_projection_on_X_Y_axis: 0.32  # 0.2845

    base_frame_id: "base_footprint"
    odom_frame_id: "odom"
    enable_odom_tf: false
    pose_covariance_diagonal: [0.01, 0.01, 0.02, 0.03, 0.03, 0.05]  # X,Y,Z,roll,pitch,yaw
    twist_covariance_diagonal: [0.01, 0.01, 0.01, 0.02, 0.02, 0.03]

# IMU广播器
imu_sensor_broadcaster:
  ros__parameters:
    sensor_name: "mpu6050"
    frame_id: "imu"
    static_covariance_orientation: [0.02, 0.0, 0.0, 0.0, 0.02, 0.0, 0.0, 0.0, 0.15]  # yaw 更不可信
    static_covariance_angular_velocity: [0.0004, 0.0, 0.0, 0.0, 0.0004, 0.0, 0.0, 0.0, 0.0004]
    static_covariance_linear_acceleration: [0.0004, 0.0, 0.0, 0.0, 0.0004, 0.0, 0.0, 0.0, 0.0004]