controller_manager:
  ros__parameters:
    update_rate: 4
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
    mecanum_controller:
      type: mecanum_controller/MecanumController
    imu_sensor_broadcaster:
      type: imu_sensor_broadcaster/IMUSensorBroadcaster
      
mecanum_controller:
  ros__parameters:
    wheel_names: [
      "left_front_wheel_joint", 
      "right_front_wheel_joint", 
      "left_rear_wheel_joint", 
      "right_rear_wheel_joint"]

    wheel_separation_x: 0.3
    wheel_separation_y: 0.3
    wheel_radius: 0.05

    enable_odom_tf: true
    odom_frame_id: odom
    base_frame_id: base_footprint

    tf_frame_prefix_enable: false
    tf_frame_prefix: ""

    twist_covariance_diagonal: [0.0, 7.0, 14.0, 21.0, 28.0, 35.0]
    pose_covariance_diagonal: [0.0, 6.0, 12.0, 18.0, 24.0, 30.0]

    cmd_vel_timeout: 0.5 # seconds
    publish_limited_velocity: true
    linear:
      x:
        max_velocity: 1.0
        min_velocity: -1.0
        max_acceleration: 2.0
        max_jerk: 5.0
      y:
        max_velocity: 1.0
        min_velocity: -1.0
        max_acceleration: 2.0
        max_jerk: 5.0
    angular:
      z:
        max_velocity: 3.14
        min_velocity: -3.14
        max_acceleration: 6.28
        max_jerk: 15.7  

    velocity_rolling_window_size: 10
    
    # 是否开环控制
    open_loop: false
    position_feedback: true

    use_stamped_vel: true

    publish_rate: 4.0 # Hz


imu_sensor_broadcaster:
  ros__parameters:
    sensor_name: "mpu6050"    # 与 URDF <joint name=""> 一致
    frame_id: "imu"       # 你的 TF 帧 ID
    
    orientation_covariance: [0.001, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.001]
    angular_velocity_covariance: [0.001, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.001]
    linear_acceleration_covariance: [0.01, 0.0, 0.0, 0.0, 0.01, 0.0, 0.0, 0.0, 0.01]
